.swiper-pagination-bullet {
      background-color: #fff;
       width: 10px;
      height: 8px;
      opacity: 1;
    }
.swiper-pagination-bullet-active {
       border-color: #fff;
      width: 30px;
      height: 8px;
      border-radius: 5px;
    }



    
/*  slick silder */

.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: -18%;
  width: 40px;
  height: 40px;
   background: #f5f5f5;
  border-radius: 50%;
   z-index: 5;
  border: none;
 }
.control-btn .prev {
  left: 91%;
 }
.control-btn .next {
  right: 0px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
   color: #000;
}
.control-btn .prev:hover i,
.control-btn .next:hover i{
  color: #fff;

}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
 


.categories .control-btn .prev {
  left: 75% ;
}
.categories .control-btn .next {
  right: 20px;
}



 